html {
	//background: rgba(239,131,77,1);
	
	background: linear-gradient(180deg, rgba(239,131,77,1) 0%, rgba(239,131,77,1) 49%, rgba(17,25,64,1) 50%, rgba(17,25,64,1) 100%);
	
	padding: 0;
	margin: 0;
}

body {
	text-align: center;
	min-width: 1168px;
	padding: 50px 0;
	margin: 0;
	background: linear-gradient(0deg, rgba(239,131,77,1) 0%, rgba(232,157,152,1) 20%, rgba(17,25,64,1) 100%);
}

p {
	
}


#download img {
	width: 400px;
	-webkit-filter: drop-shadow( 0px 2px 5px rgba(0,0,0,.5) );
}

#wrapper {
	position: relative;
	height: 1000px;
	width: 1128px;
	margin: 50px auto;
}

.stars {
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background:url(stars.png) repeat top center;
	background-size: 75%;
	//-webkit-animation:move-stars 2000s linear infinite;
}

@-webkit-keyframes move-stars {
    from {background-position:0 0;}
    to {background-position: 0 10000px;}
}


#ui {
	position: absolute;
	top: 0px;
	left: 0px;
	height: 1000px;
	-webkit-box-shadow: 0px 3px 8px rgba(0,0,0,.25);
}

#instructions {
	position: absolute;
	top: 0px;
	left: 510px;
	height: 1000px;
	-webkit-filter: drop-shadow( 0px 3px 8px rgba(0,0,0,.25) );
}










